<div class="ms-auto">
  <ul class="list-unstyled">
    <li class="d-inline-flex">
      <div class="pc-h-item">
        <a class="pc-head-link head-link-primary arrow-none me-2" routerLink="/accueil" target="_blank" title="Voir le site">
          <i class="ti ti-world"></i>
        </a>
      </div>
    </li>
    <li>
      <div class="pc-h-item header-user-profile" ngbDropdown>
        <a class="pc-head-link head-link-primary arrow-none me-0" href="javascript:void(0)" ngbDropdownToggle>
          <span class="user-initials">A</span>
        </a>
        <div class="dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <h4 class="mb-0">Arnelle Institut</h4>
            <p class="text-muted mb-2">Espace de gestion</p>
            <hr />
            <a routerLink="/accueil" target="_blank" class="dropdown-item">
              <i class="ti ti-world"></i>
              <span>Voir le site</span>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
