// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #fbf6ec,
    primary: #6b4423,
    primary-dark: #4a2e17,
    secondary: #c9a227,
    secondary-dark: #a6841f
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
